# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
*.log

# Notebook
.ipynb_checkpoints/

# Entorno
.env

# Editor / OS
.vscode/
.idea/
.DS_Store

# Antigravity / agent local config (si aplica)
.antigravity/
